<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="a800c736-921b-435a-aab4-9beb34baa7c1" Publisher="CN=gratiastella" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Metronome_Tuner</DisplayName>
    <PublisherDisplayName>gratiastella</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Metronome_Tuner.App">
      <VisualElements DisplayName="Metronome_Tuner" Logo="Assets\MainLogo_s.png" SmallLogo="Assets\SmallLogo.png" Description="Metronome_Tuner" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\MainLogo.png" />
        <SplashScreen Image="Assets\M_Logo.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>